---
interface Props {
  id: number;
  title: string;
  date: string;
  category: string;
  categorySlug: string;
  url: string;
  pic: string;
}

const { id, title, date, category, categorySlug, url, pic } = Astro.props;
---

<a href={url} class="c-news-card mouse-over" data-card={id} data-category={categorySlug}>
  <figure class="c-news-card__pic">
    <img src={pic} alt={title}>
  </figure>
  <div class="c-news-card__info">
    <p class="c-news-card__info-title">{title}</p>
    <div class="c-news-card__info-sub">
      <time class="c-news-card__info-date">{date}</time>
      <span class="c-news-card__info-category">{category}</span>
    </div>
  </div>
</a>

<style lang="scss" is:global>
@use '../../../assets/scss/mediaquery' as me;
@use '../../../assets/scss/mixin' as mi;

.c-news-card {
  display: grid;
  color: var(--c-white);
  @include me.pc {
    grid-template-columns: 389px 1fr;
    column-gap: 40px;

    &.mouse-over {
      &:hover {
        .c-news-card__pic {
          // 各辺から10px内側にクリップ（360px → 340px相当）
          clip-path: inset(7px);
        }

        .c-news-card__pic img {
          // 画像自体を拡大（360px → 368px相当）
          // transform: scale(1.0222); // 368/360 = 1.0222
        }
      }
    }
  }
  @include me.sp {
    grid-template-columns: 100%;
    row-gap: 14px;
  }

  &__pic {
    aspect-ratio: 389 / 218.64;
    clip-path: inset(0px);
    transition: clip-path .4s cubic-bezier(0.16, 1.02, 0.52, 1.03);

    img {
      transition: transform 0.3s cubic-bezier(0, 0, 0.17, 1);
    }
  }

  &__info {
    display: grid;
    grid-template-columns: 100%;
    align-content: flex-start;
    row-gap: 10px;
    @include me.pc {
      padding-block-start: 10px;
    }
    @include me.sp {
      row-gap: 8px;
    }

    &-title {
      font-size: 1.8rem;
      font-weight: 600;
      line-height: 1.6;
      @include me.sp {
        font-size: 1.6rem;
      }
    }

    &-sub {
      display: flex;
      align-items: center;
      column-gap: 4px;
      color: var(--c-gray);
      font-size: 1.6rem;
      font-weight: 500;
      @include me.sp {
        font-size: 1.4rem;
      }
    }

    &-date {
      display: flex;
      align-items: center;
      column-gap: 4px;
      &::after {
        content: "-";
        display: inline-block;
      }
    }

  }

}

</style>
