---
import Layout from '@layouts/Layout.astro';
import Kv from '@components/home/sections/Kv.astro';
import Intro from '@components/home/sections/Intro.astro';
import Projects from '@components/home/sections/Projects.astro';
import Asides from '@components/home/sections/Asides.astro';

const pageMeta = {
  title: '',
  canonical: '',
};

const API_ENDPOINT = 'https://infocus.wp.site-prev2.com/wp-json/infocus/v1/options/home';

let homeData = null;
try {
  const response = await fetch(API_ENDPOINT);
  if (!response.ok) {
    throw new Error(`API取得失敗: ${response.status}`);
  }
  homeData = await response.json();
} catch (error) {
  console.error('❌ HomeデータAPI取得エラー:', error);
}

const heros = homeData?.home?.heros || [];
const intro = homeData?.home?.projects.catergory || null;
const projects = homeData?.home?.projects.pickup || [];
const asides = homeData?.home?.contrast_banners || [];
// console.log('データ:', { heros, intro, projects, asides });
---

<Layout
  title=""
  pageName="home"
  meta={pageMeta}
>

<div class="l-main-content" data-main-content>
  <Kv heros={heros} />
  <Intro data={intro} />
  <Projects data={projects} />
  <Asides data={asides} />
</div>

</Layout>
