---
const category = [
  {
    name: 'BRANDING',
    slug: 'branding',
  },
  {
    name: 'ART DIRECTION',
    slug: 'art-direction',
  },
  {
    name: 'WEB',
    slug: 'web',
  },
  {
    name: 'FILM',
    slug: 'film',
  },
  {
    name: 'EDITORIAL',
    slug: 'editorial',
  },
  {
    name: 'GLOBAL',
    slug: 'global',
  },
  {
    name: 'ARCHIVED',
    slug: 'archived',
  }
]

const tags = [
  {
    name: 'CI・VI',
    slug: 'ci-vi',
  },
  {
    name: 'Advertisement',
    slug: 'advertisement',
  },
  {
    name: 'Photography',
    slug: 'photography',
  },
  {
    name: 'Graphic',
    slug: 'graphic',
  },
  {
    name: '3DCG',
    slug: '3dcg',
  },
  {
    name: 'Brand Website',
    slug: 'brand-website',
  },
  {
    name: 'Corporate Website',
    slug: 'corporate-website',
  },
  {
    name: 'E-Commerce',
    slug: 'e-commerce',
  },
  {
    name: 'Brand Film',
    slug: 'brand-film',
  },
  {
    name: 'Documentary Film',
    slug: 'documentary-film',
  },
  {
    name: 'Motion Graphic',
    slug: 'motion-graphic',
  },
]
---

<div class="p-project-head" data-type="">
  <!-- Search -->
  <div class="p-project-head__search">
    <div class="p-project-head__search-input --pc">
      <input type="text" id="search_category" name="category">
      <label for="search_category" class="p-project-head__search-placeholder">SEARCH</label>
    </div>
    <div class="p-project-head__search-icon js-search-wrap">
      <button class="p-project-head__search-btn js-search" data-btn="open">
        検索
        <svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M6.06641 0.588867C9.09134 0.588967 11.5437 3.04078 11.5439 6.06543C11.5439 9.09028 9.09149 11.5429 6.06641 11.543C3.04124 11.543 0.588867 9.09034 0.588867 6.06543C0.589111 3.04072 3.04139 0.588867 6.06641 0.588867Z" stroke="white" stroke-width="1.17747"/><path d="M13.3572 14.5455C13.5871 14.7754 13.9599 14.7754 14.1898 14.5455C14.4198 14.3156 14.4198 13.9428 14.1898 13.7129L13.3572 14.5455ZM10.1338 10.4897L9.71748 10.906L13.3572 14.5455L13.7735 14.1292L14.1898 13.7129L10.5501 10.0734L10.1338 10.4897Z" fill="white"/></svg>
      </button>
      <button class="p-project-head__search-btn js-search-close" data-btn="close">
        閉じる
        <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M10.358 0.358038L11.4792 1.47919L7.14704 5.81134L11.5232 10.1875L10.4133 11.2974L6.03715 6.92123L1.5797 11.3787L0.458543 10.2575L4.916 5.80008L0.557963 1.44204L1.66785 0.332148L6.02589 4.69019L10.358 0.358038Z" fill="white"/></svg>
      </button>
    </div>
  </div>

  <!-- Category -->
  <div class="p-project-head__left">
    <div class="p-project-head__search-input --sp">
      <input type="text" id="search_category_sp" name="category">
      <label for="search_category_sp" class="p-project-head__search-placeholder">SEARCH</label>
    </div>

    <ul class="p-project-head__category">
      <li class="p-project-head__category-item" data-category="All">
        <a href="/projects/" aria-current="true">
          <span>ALL</span>
        </a>
      </li>
      {category.map(category => (
        <li class="p-project-head__category-item" data-category={category.name}>
          <a href={category.slug === 'archived' ? '/projects/?archived=true' : `/projects/?category=${category.slug}`} aria-current="false">
            <span>{category.name}</span>
          </a>
        </li>
      ))}
    </ul>
  </div>

  <ul class="p-project-head__tag js-hover">
    {tags.map(tag => (
      <li class="p-project-head__tag-item js-hover-item">
        <a href={`/projects/?tag=${tag.slug}`}>{tag.name}</a>
      </li>
    ))}
  </ul>
</div>

<style lang="scss">
@use '../../../assets/scss/mediaquery' as me;
@use '../../../assets/scss/mixin' as mi;

.p-project-head {
  display: grid;
  align-content: flex-start;
  position: relative;
  margin-block-start: 50px;
  padding-inline: 30px;
  @include me.pc {
    grid-template-columns: repeat(3, max-content);
    justify-content: space-between;
    align-items: flex-start;
  }
  @include me.sp {
    grid-template-columns: 1fr max-content;
    column-gap: 41.65px;
    row-gap: 40px;
    margin-block-start: 51px;
    padding-inline: 20px;
    overflow: hidden;
    &::after {
      content: "";
      opacity: 0;
      visibility: hidden;
      position: absolute;
      top: 31px;
      left: 20px;
      width: calc(100% - 20px - 46px);
      height: 1px;
      background-color: var(--c-gray);
    }
    &[data-type="search"] {
      &::after {
        opacity: 1;
        visibility: visible;
      }
    }
  }

  &__left {
    @include me.pc {
      grid-row: 1;
    }
  }

  &__category {
    display: flex;
    flex-wrap: wrap;
    column-gap: 10px;
    row-gap: 10px;
    @include me.pc {
      max-width: 384px;
    }

    &-item {
      @include me.pc {
        min-width: 60.18px;
      }

      a {
        display: block;
        position: relative;
        padding-inline: 16px;
        padding-block: 5px 6px;
        color: var(--c-white);
        font-size: 1.4rem;
        font-weight: 600;
        text-align: center;
        @include me.pc {
          font-size: 1.2rem;
        }
        &::before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          z-index: 1;
          width: 100%;
          height: 100%;
          border: solid 1px var(--c-gray);
          border-radius: 9.4rem;
        }
        &[aria-current="true"] {
          color: var(--c-black-base);
          pointer-events: none;
          &::before {
            border-color: var(--c-gray02);
            background-color: var(--c-white);
          }
        }
      }

      span {
        position: relative;
        z-index: 2;
      }
    }

  }

  &__search {
    display: grid;
    grid-template-columns: max-content;
    align-content: flex-start;
    position: relative;
    @include me.pc {
      grid-column: 3;
      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 1px;
        background-color: var(--c-gray);
      }
    }
    @include me.sp {
      grid-column: 2;
      grid-row: 1;
      grid-template-columns: 1fr max-content;
      width: 100%;
    }

    &-placeholder {
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      z-index: 2;
      color: var(--c-gray);
    }

    &-input {
      position: relative;
      @include me.pc {
        width: 205px;
      }

      &.--pc {
        @include me.sp {
          display: none;
        }
      }
      &.--sp {
        opacity: 0;
        visibility: hidden;
        height: 0;
        @include me.pc {
          display: none;
        }
        @at-root [data-type="search"] & {
          opacity: 1;
          visibility: visible;
          height: auto;
          margin-block-end: 40px;
        }
      }

      input {
        appearance: none;
        display: block;
        position: relative;
        z-index: 1;
        width: 100%;
        padding: 0;
        padding-block: 8px;
        border: none;
        background: transparent;
        color: var(--c-white);
        @include me.pc {
          padding-inline-end: 18px;
        }
        @include me.sp {
          width: calc(100% + 41.65px - 8px);
        }
        &:focus {
          & + .p-project-head__search-placeholder {
            opacity: 0;
            visibility: hidden;
          }
        }
      }

    }

    &-icon {
      display: inline-flex;
      z-index: 2;
      @include me.pc {
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
      }
      @include me.sp {
        justify-self: flex-end;
        position: relative;
        margin-block-start: 8.5px;
      }
      button {
        font-size: 0;
      }
    }

    &-btn {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 16px;
      height: 16px;

      &[data-btn="close"] {
        width: 0;
        transform: scaleX(0);
        @include me.pc {
          display: none;
        }
        @at-root [data-type="search"] & {
          width: auto;
          min-width: 14px;
          height: 14px;
          margin-inline-start: 12px;
          transform: scaleX(1);
        }
      }
    }
  }


  &__tag {
    display: flex;
    flex-wrap: wrap;
    column-gap: 6px;
    row-gap: 11px;
    @include me.pc {
      grid-column: 2;
      grid-row: 1;
      max-width: 330px;
    }
    @include me.sp {
      grid-column: 1 / 3;
    }

    &-item {
      display: inline-flex;
      align-items: flex-start;
      column-gap: 6px;
      &::after {
        content: "/";
        display: block;
        color: var(--c-white);
        font-size: 1.4rem;
      }
      &:last-child {
        &::after {
          display: none;
        }
      }

      a {
        color: var(--c-white);
        font-size: 1.4rem;
        font-weight: 600;
      }
    }

  }

}

</style>
