---
import About from "./About.astro";
import FixedNavi from "../parts/FixedNavi.astro";
import Projects from "./Projects.astro";
import Interview from "./Interview.astro";

interface Position {
  caption: string;
}

interface Links {
  type: string;
  caption: string;
  url: string;
  snsType?: string;
}

interface InterviewData {
  title?: string;
  description?: string;
  pic?: string;
  url?: string;
}

interface Tag {
  name: string;
  url: string;
}

interface ProjectData {
  id: number;
  title: string;
  tags: Tag[];
  imageSrc: string;
  url: string;
}

interface Props {
  pic: string;
  name: string;
  position: Position[];
  description: string;
  links: Links[];
  interview?: InterviewData;
  prevMember?: {
    slug: string;
    name: string;
  } | null;
  nextMember?: {
    slug: string;
    name: string;
  } | null;
  projects?: ProjectData[];
}

const {
  pic,
  name,
  position,
  description,
  links,
  interview,
  prevMember = null,
  nextMember = null,
  projects = []
} = Astro.props;
---

<article class="p-team-detail-article" data-main-content>
  <section class="p-team-detail-article__head">
    <figure class="p-team-detail-article__pic">
      <img src={pic} alt={name}>
    </figure>
    <About
      name={name}
      position={position}
      description={description}
      links={links}
    />
  </section>

  {projects && projects.length > 0 && (
    <Projects projects={projects} />
  )}

  {interview && (interview.title || interview.description) && (
    <Interview
      title={interview.title || ''}
      description={interview.description || ''}
      pic={interview.pic}
      url={interview.url}
    />
  )}

  <div class="p-team-detail-article__navi">
    <FixedNavi prevMember={prevMember} nextMember={nextMember} />
  </div>
</article>

<style lang="scss">
@use '../../../assets/scss/mediaquery' as me;
@use '../../../assets/scss/mixin' as mi;

.p-team-detail-article {

  &__head {
    display: grid;
    grid-template-columns: 100%;
    align-content: flex-start;
    @include me.pc {
      grid-template-columns: 39.5833vw 1fr;
    }
  }

  &__pic {
    aspect-ratio: 1 / 1;
    width: 100%;
    height: 100%;
    @include me.pc {
      border-right: solid 1px var(--c-gray);
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__navi {
    background-color: var(--c-black-base);
    @include me.sp {
      position: sticky;
      bottom: 0;
      left: 0;
      @include mi.z-contents(1);
    }
  }
}
</style>
