---
import About from "./About.astro";
import FixedNavi from "../parts/FixedNavi.astro";
import Projects from "./Projects.astro";
import Interview from "./Interview.astro";

interface Position {
  caption: string;
}

interface Links {
  type: string;
  caption: string;
  url: string;
  snsType?: string;
}

interface InterviewData {
  title?: string;
  description?: string;
  pic?: string;
  url?: string;
}

interface Props {
  pic: string;
  name: string;
  position: Position[];
  description: string;
  links: Links[];
  interview?: InterviewData;
}

const { pic, name, position, description, links, interview } = Astro.props;
---

<article class="p-team-detail-article">
  <section class="p-team-detail-article__head">
    <figure class="p-team-detail-article__pic">
      <img src={pic} alt={name}>
    </figure>
    <About
      name={name}
      position={position}
      description={description}
      links={links}
    />
  </section>
  <Projects />
  {interview && interview.title && (
    <Interview
      title={interview.title}
      description={interview.description}
      pic={interview.pic}
      url={interview.url}
    />
  )}
  <div class="p-team-detail-article__navi">
    <FixedNavi />
  </div>
</article>

<style lang="scss">
@use '../../../assets/scss/mediaquery' as me;
@use '../../../assets/scss/mixin' as mi;

.p-team-detail-article {

  &__head {
    display: grid;
    grid-template-columns: 100%;
    align-content: flex-start;
    @include me.pc {
      grid-template-columns: 570px 1fr;
    }
  }

  &__pic {
    aspect-ratio: 1 / 1;
    @include me.pc {
      border-right: solid 1px var(--c-gray);
    }
  }

  &__navi {
    background-color: var(--c-black-base);
    @include me.sp {
      position: sticky;
      bottom: 0;
      left: 0;
      @include mi.z-contents(1);
    }
  }
}
</style>
