---
import TeamCard from '../../team/parts/TeamCard.astro';

interface Props {
  members?: Array<{
    id: number;
    name: string;
    pic: string;
    url: string;
    tags: Array<{
      name: string;
      url: string;
    }>;
  }>;
}

const { members = [] } = Astro.props;
---

<aside class="p-team-detail__related">

  <div class="p-team-detail__related-title">MEET MORE</div>
  <div class="p-team-detail__related-content js-more-content">
    <ul class="p-team-detail__related-list">
      {members.map((item) => (
        <li class="p-team-detail__related-item">
          <TeamCard
            id={item.id}
            name={item.name}
            pic={item.pic}
            url={item.url}
            tags={item.tags}
          />
        </li>
      ))}
    </ul>

    <!-- SP時の2カラムレイアウト用 -->
    <div class="p-team-detail__related-columns" style="display: none;">
      <div class="p-team-detail__related-column" data-column="left"></div>
      <div class="p-team-detail__related-column" data-column="right"></div>
    </div>
  </div>

  <div class="p-team-detail__related-more">
    <button class="js-more-btn">
      VIEW ALL
      <span><svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M8.52691 0.114V10.705C9.71691 9.413 11.5019 7.441 12.8279 6.047L14.1199 7.373L7.54091 14.241H7.48991L0.893906 7.373L2.23691 6.047C3.54591 7.441 5.33091 9.413 6.52091 10.705V0.114H8.52691Z" fill="white"/></svg></span>
    </button>
  </div>
</aside>

<style lang="scss">
@use '../../../assets/scss/mediaquery' as me;
@use '../../../assets/scss/mixin' as mi;

.p-team-detail__related {
  padding-inline: 30px;
  padding-block: 80px 150px;
  @include me.sp {
    padding-inline: 20px;
    padding-block: 60px 100px;
  }

  &-title {
    font-size: 2.6rem;
    font-weight: 700;
    line-height: 0.96;
    letter-spacing: -.02rem;
    text-align: center;
    @include me.sp {
      font-size: 2rem;
    }
  }

  &-content {
    margin-block-start: 70px;
    overflow: hidden;
    position: relative;
    transition: max-height 0.6s ease-in-out;
    @include me.sp {
      margin-block-start: 50px;
    }

    &.is-collapsed {
      max-height: var(--collapsed-height);

      &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 150px;
        background: linear-gradient(to bottom,
          rgba(26, 26, 26, 0) 0%,
          rgba(26, 26, 26, 0.1) 20%,
          rgba(26, 26, 26, 0.3) 40%,
          rgba(26, 26, 26, 0.6) 70%,
          rgba(26, 26, 26, 1) 100%
        );
        pointer-events: none;
        z-index: 1;
      }
    }

    &:not(.is-collapsed) {
      max-height: none;

      &::after {
        display: none;
      }
    }
  }

  &-list {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    column-gap: 25px;
    row-gap: 50px;
    @include me.sp {
      display: none;
    }

    .p-team-detail__related-item {
      transition: opacity 0.3s ease-in-out;

      &.is-hidden {
        opacity: 0.1;
        pointer-events: none;
      }
    }
  }

  &-columns {
    display: none;
    @include me.sp {
      display: flex;
      gap: 20px;
      align-items: flex-start;
    }
  }

  &-column {
    flex: 1;
    display: flex;
    flex-direction: column;
    column-gap: 20px;
    row-gap: 50px;

    .p-team-detail__related-item {
      transition: opacity 0.3s ease-in-out;

      &.is-hidden {
        opacity: 0.1;
        pointer-events: none; // クリックを無効化
      }
    }
  }

  &-more {
    display: flex;
    justify-content: center;
    margin-block-start: 70px;
    @include me.sp {
      margin-block-start: 50px;
    }

    &.is-hidden {
      display: none;
    }

    button {
      display: flex;
      align-items: center;
      column-gap: 11px;
      height: 34px;
      color: var(--c-white);
      font-size: 2.4rem;
      font-weight: 700;
      cursor: pointer;
      transition: opacity 0.3s ease-in-out;

      &:hover {
        opacity: 0.8;
      }
    }

    span {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 15px;
      height: 24px;
    }
  }

}
</style>
