---
import NewsLetter from "./NewsLetter.astro"

interface Props {
  lang?: 'en' | 'ja'
}
const { lang = 'ja' } = Astro.props;

// メニューの基本項目を定義
const baseMenu = [
  {
    name: 'PROJECTS',
    path: '/projects/',
    navi: 'projects'
  },
  {
    name: 'NEWS',
    path: '/news/',
    navi: 'news'
  },
  {
    name: 'ABOUT',
    path: '/about/',
    navi: 'about'
  },
  {
    name: 'TEAM',
    path: '/team/',
    navi: 'team'
  },
  {
    name: 'CAREERS',
    path: '/careers/',
    navi: 'careers'
  },
  {
    name: 'CONTACT',
    path: '/contact/',
    navi: 'contact'
  },
];

// 言語に応じてメニューアイテムのURLを生成
const menu = baseMenu.map(item => ({
  ...item,
  url: lang === 'en' ? `/en${item.path}` : item.path
}));

// リンクの基本項目（外部リンクなので言語プレフィックス不要）
const links = [
  {
    name: 'IFFD',
    url: 'https://iffd.in-focus.co.jp/'
  },
  {
    name: 'IFNY',
    url: '#'
  },
  {
    name: 'STORE',
    url: 'https://newframing.com/'
  },
];

const sns = [
  {
    name: 'instagram',
    url: 'https://www.instagram.com/in_focus_inc/'
  },
  {
    name: 'twitter',
    url: 'https://twitter.com/InFocus_Inc'
  },
  {
    name: 'note',
    url: 'https://note.com/infocusinc/'
  },
  {
    name: 'fb',
    url: 'https://www.facebook.com/infocusjp/'
  }
];
---

<div class="l-menu js-menu">
  <!-- ナビゲーション -->
  <div class="l-menu__inner">
    <nav class="l-menu__navi">
      <ul class="l-menu__navi-list js-hover">
        {menu.map((item) => (
          <li class="l-menu__navi-item js-hover-item" data-menu={item.navi}>
            <a href={item.url}>{item.name}</a>
          </li>
        ))}
      </ul>
    </nav>

    <!-- インフォメーション -->
    <div class="l-menu__info">
      <div class="l-menu__info-inner" data-info="office">
        <section class="l-menu__section" data-section="tokyo">
          <span class="l-menu__section-heading">TOKYO</span>
          <p>
            1-49-4, Tomigaya,&nbsp;<br class="sp">
            Shibuya-ku,<br>
            151-0063 Tokyo, Japan
          </p>
        </section>
        <section class="l-menu__section" data-section="newyork">
          <span class="l-menu__section-heading">NEWYORK</span>
          <p>
            161 Water Street,&nbsp;<br class="sp">
            20th Floor<br class="pc">
            #2038,<br>
            New York, NY 10038, USA
          </p>
        </section>
      </div>
    </div>

    <div class="l-menu__link">
      <ul class="l-menu__link-list js-hover">
        {links.map((link => (
          <li class="l-menu__link-item js-hover-item">
            <a href={link.url} target="_blank" rel="noopener noreferrer">
              {link.name}
              <span><svg width="11" height="11" viewBox="0 0 11 11" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1.0736 8.72203L7.36962 2.33958C5.70689 2.40791 2.78076 2.37538 0.958582 2.39815L0.958574 0.689864L10.3193 0.665467L10.342 0.688244L10.2737 10.0725L8.5199 10.0725C8.55406 8.26167 8.57683 5.27785 8.64515 3.61511L2.34912 9.99756L1.0736 8.72203Z" fill="white"/></svg></span>
            </a>
          </li>
        )))}
      </ul>
    </div>

    <ul class="l-menu__sns js-hover">
      {sns.map((item) => (
        <li class="l-menu__sns-item js-hover-item" data-sns={item.name}>
          <a href={item.url} target="_blank">{item.name}</a>
        </li>
      ))}
    </ul>

    <div class="l-menu__newsletter">
      <NewsLetter type="menu" />
    </div>
  </div>
</div>

<style lang="scss">
@use '../assets/scss/mediaquery' as me;
@use '../assets/scss/mixin' as mi;

.l-menu {
  // overflow: hidden;
  overflow-y: scroll;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100vw;
  height: 100vh;
  background-color: var(--c-black-base);
  transition: opacity .3s ease-out, visibility .3s ease-out;

  @include me.pc {
    // display: flex;
    // justify-content: flex-end;
    // align-items: flex-start;
    top: var(--hd-height-pc);
    height: calc(100vh - var(--hd-height-pc));
    background-color: rgba($color: #111111, $alpha: 0.74);
  }

  @include me.sp {
    padding-inline: 30px;
    padding-block: calc(var(--hd-height-sp) + 30px);
  }

  &.is-opened {
    opacity: 1;
    visibility: visible;
    z-index: 1;
  }

  &__inner {
    display: grid;
    align-content: center;
    transform: translateX(100%);
    transition: transform .3s var(--ease-out-quad);

    @at-root .l-menu.is-opened & {
      transform: translateX(0);
    }

    @include me.pc {
      grid-template-columns: repeat(2, max-content);
      justify-content: center;
      column-gap: 92px;
      row-gap: 53px;
      position: relative;
      z-index: 2;
      width: 50vw;
      height: 100%;
      margin-left: auto;
      padding-block: 40px;
      border-left: solid 1px var(--c-white);
      background-color: var(--c-black-base);
      overflow-y: scroll;
    }

    @include me.sp {
      grid-template-columns: repeat(2, 1fr);
      column-gap: 30px;
      row-gap: 24px;
    }
  }

  &__navi {
    @include me.pc {
      grid-row: 1 / 3;
    }

    &-list {
      display: grid;
      @include me.pc {
        row-gap: 24px;
      }
      @include me.sp {
        row-gap: 12px;
      }
    }

    &-item {
      font-size: 3rem;
      font-weight: 600;
      @include me.sp {
        font-size: 2.6rem;
      }

      a {
        color: var(--c-white);
      }
    }
  }

  &__info {
    display: grid;
    align-content: flex-start;
    @include me.pc {
      padding-block-start: 10px;
    }
    @include me.sp {
      padding-block-start: 4px;
      row-gap: 20px;
    }

    &-inner {
      display: grid;
      row-gap: 30px;

      &[data-info="office"] {
        @include me.sp {
          order: 3;
        }
      }
      &[data-info="sns"] {
        @include me.pc {
          margin-top: 15px;
        }
        @include me.sp {
          order: 1;
        }
      }
      &[data-info="lang"] {
        @include me.pc {
          margin-top: 20px;
        }
        @include me.sp {
          order: 2;
        }
      }
    }
  }

  &__section {

    &-heading {
      display: inline-block;
      margin-bottom: 10px;
      color: var(--c-white);
      font-size: 1.8rem;
      font-weight: 600;
      @include me.sp {
        margin-bottom: 8px;
        font-size: 1.6rem;
        @at-root [data-section="newyork"] & {
        margin-bottom: 0;
      }
      }
    }

    p {
      color: var(--c-gray);
      font-size: 1.4rem;
      line-height: 1.8;

      & + p {
        margin-top: 2px;
        @include me.sp {
          margin-top: 6px;
        }
      }
    }
  }

  &__link {
    @include me.pc {
      grid-column: 2;
      grid-row: 2 / 4;
      align-self: flex-end;
    }

    &-list {
      display: grid;
      row-gap: 16px;
    }

    &-item {

      a {
        display: flex;
        align-items: center;
        column-gap: 8px;
        color: var(--c-white);
        font-size: 2rem;
        font-weight: 600;
      }

      span {
        display: block;
        margin-block-start: 2px;
        width: 12px;
        height: 12px;
      }
    }
  }

  &__sns {
    display: flex;
    align-items: center;
    align-self: flex-end;
    column-gap: 22px;
    @include me.pc {
      grid-column: 1;
      grid-row: 3;
    }
    @include me.sp {
      grid-column: 2;
      grid-row: 2;
      column-gap: 24px;
    }

    &-item {
      font-size: 0;
      background-position: center center;
      background-repeat: no-repeat;
      background-size: contain;

      &[data-sns="instagram"] {
        width: 23px;
        height: 23px;
        background-image: url(/common/images/common/icon_instagram_w.svg);
        @include me.sp {
          width: 18px;
          height: 18px;
        }
      }
      &[data-sns="twitter"] {
        width: 18px;
        height: 18px;
        background-image: url(/common/images/common/icon_x_w.svg);
        @include me.sp {
          width: 18px;
          height: 18px;
        }
      }
      &[data-sns="note"] {
        width: 20px;
        height: 20px;
        background-image: url(/common/images/common/icon_note_w.svg);
        @include me.sp {
          width: 18px;
          height: 18px;
        }
      }
      &[data-sns="fb"] {
        width: 11px;
        height: 22px;
        background-image: url(/common/images/common/icon_fb_w.svg);
        @include me.sp {
          width: 10px;
          height: 19px;
        }
      }

      a {
        display: block;
        height: 100%;
      }
    }
  }

  &__newsletter {
    grid-column: 1 / 3;
    @include me.pc {
      grid-row: 4;
      margin-block-start: 24px;
    }
    @include me.sp {
      margin-block-start: 24px;
    }
  }
}
</style>
