---
interface Awards {
  id: number;
  caption: string;
  content: string;
  pic: string;
}

interface Props {
  slug: string;
  name: string;
  head: string;
  awards: Awards[];
}

const { slug, name, head, awards, } = Astro.props;
---

<div class="c-summary" data-summary={slug}>
  <h3 class="c-summary__year">{head}</h3>
  <div class="c-summary__pic">
    {awards.map((pic => (
      <figure data-award-id={pic.id}>
        <img src={pic.pic} alt={name} />
      </figure>
    )))}
  </div>
  <div class="c-summary__info">
    {awards.map((award => (
      <a href="#">
        <dl class="c-summary__info-item" data-award-id={award.id}>
          <dt class="c-summary__info-caption">{award.caption}</dt>
          <dd class="c-summary__info-content" set:html={award.content}></dd>
        </dl>
      </a>
    )))}
  </div>

</div>

<style lang="scss">
@use '../../../assets/scss/mediaquery' as me;
@use '../../../assets/scss/mixin' as mi;

.c-summary {
  position: relative;
  @include me.pc {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 88px;
    min-height: 400px;
    padding-block-end: 40px;
  }
  @include me.sp {
    padding-block-end: 60px;
  }

  &__year {
    color: var(--c-gray);
    font-size: 4rem;
    font-weight: 700;
    @include me.pc {
      position: absolute;
      top: 0;
      left: 0;
    }
    @include me.sp {
      font-size: 3.2rem;
    }
  }

  &__pic {
    aspect-ratio: 440 / 246;
    align-self: flex-end;
    position: relative;
    min-width: 440px;
    min-height: 246px;
    margin-block-end: 33px;
    @include me.sp {
      display: none;
    }

    figure {
      opacity: 1;
      visibility: visible;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      transition: opacity 0.3s var(--ease-out-quad), visibility 0.3s var(--ease-out-quad);

      &:first-child {
        z-index: 1;
      }

      &:not(&:first-child) {
        opacity: 0;
        visibility: hidden;
        z-index: 2;
        &.is-active {
          opacity: 1;
          visibility: visible;
        }
      }
    }
  }

  &__info {
    display: grid;
    row-gap: 40px;
    @include me.pc {
      width: calc(100% - 440px);
    }
    @include me.sp {
      margin-block-start: 30px;
    }

    > a {
      display: block;
      color: var(--c-white);
      text-decoration: none;
      @include me.pc {
        border-bottom: solid 1px var(--c-gray02);
        &:last-child {
          border-bottom-color: transparent;
        }
      }
    }

    &-item {
      @include me.pc {
        padding-block-end: 24px;
      }
    }

    &-caption {
      color: var(--c-gray02);
      font-size: 1.4rem;
      font-weight: 700;
    }

    &-content {
      display: grid;
      row-gap: 12px;
      margin-block-start: 24px;
      font-size: 1.4rem;
      line-height: 2.2;
      @include me.sp {
        margin-block-start: 8px;
        font-size: 1.6rem;
      }

      a {
        color: var(--c-white);
        font-size: 1.4rem;
        text-decoration: underline;
      }
    }
  }

}
</style>
