---
import NewsCard from "../../news/parts/NewsCard.astro";

interface Props {
  lang?: 'en' | 'ja'
}
const { lang = 'ja' } = Astro.props;
const currentUrl = lang === 'en' ? '/en/' : '/';

const { relatedArticles = [] } = Astro.props;
---

<aside class="p-news-detail-related">
  <ul class="p-news-detail-related__list">
    {relatedArticles.map((item) => (
      <li class="p-news-detail-related__item">
        <NewsCard
          id={item.id}
          title={item.title}
          date={item.date}
          category={item.category}
          url=`${currentUrl}news/${item.slug}/`
          pic={item.pic}
        />
      </li>
    ))}
  </ul>

  <div class="p-news-detail-related__link">
    <a href=`${currentUrl}news/`>ALL NEWS</a>
  </div>
</aside>

<style lang="scss">
@use '../../../assets/scss/mediaquery' as me;
@use '../../../assets/scss/mixin' as mi;

.p-news-detail-related {
  margin-block-start: 100px;
  padding-block-end: 130px;
  border-top: solid 1px var(--c-white);
  @include me.sp {
    margin-block-start: 70px;
    padding-block-end: 100px;
  }

  &__list {
    display: grid;
    grid-template-columns: 100%;
    @include me.pc {
      margin-inline: auto;
      padding-inline: 30px;
      padding-block-start: 20px;
    }
    @include me.sp {
      row-gap: 50px;
      padding-inline: 20px;
      padding-block: 30px 50px;
    }
  }

  &__item {
    @include me.pc {
      padding-block: 20px;
      border-bottom: solid 1px var(--c-gray02);
    }
  }

  &__link {
    text-align: center;
    @include me.pc {
      margin-block-start: 130px;
    }

    a {
      display: inline-block;
      position: relative;
      color: var(--c-white);
      font-size: 2.4rem;
      font-weight: 700;
      line-height: 1.4;
      letter-spacing: -.02rem;
      @include me.sp {
        font-size: 2rem;
      }
      &::after {
        content: "";
        position: absolute;
        bottom: 4px;
        left: 0;
        width: 100%;
        height: 1px;
        background-color: var(--c-white);
      }
    }
  }
}
</style>
